<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.portafolio_charlotte_rodriguez">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Portafolio_charlotte_rodriguez"
        tools:targetApi="31">
        <activity
            android:name=".Checkbox"
            android:exported="false" />
        <activity
            android:name=".Binario"
            android:exported="false" />
        <activity
            android:name=".Evaluacion"
            android:exported="false" />
        <activity
            android:name=".calculadora"
            android:exported="false" />
        <activity
            android:name=".calculadora_pro"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>