{% extends 'personas/mastertemplate.html' %}

{% block contenido %}
<h1 class="alert alert-primary mt-3 text-center">lista de marcas</h1>
<div class="mt-3 text-end" >
    <a href=" {% url 'personas:registro' %}" class="btn btn-success">Crear marca</a>
</div>
{% if marcas  %}
<table class="table">
<thead>
    <tr>
        <th>Nombre</th>
        <th>Id</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
</thead>
<tbody>
{% for p in marcas %}
    <tr>
        <td>
            {{p.Id}}
        </td>
        <td>
            {{p.Nombre}}
        </td>
            {% if p.estado_civil %}
            <span class="badge bg-success">Activo</span>
            {% else %}
            <span class="badge bg-success">Inactivo</span>
            {% endif %}
        </td>
        <td>
            <a href="{% url 'personas:editar' p.run %}">📝</a>
        </td>
        <td>
            <a href="{% url 'personas:eliminar' p.run %}">🪓</a>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% else %}
<div class="alert alert-warning">No hay registros!!!!</div>
{% endif%}

{% endblock contenido %}