{% extends 'personas/mastertemplate.html' %}

{% block contenido %}
<h1 class="alert alert-primary mt-3 text-center">LISTA DE PERSONAS</h1>
<div class="mt-3 text-end" >
    <a href=" {% url 'personas:registro' %}" class="btn btn-success">Crear persona</a>
</div>
{% if personas  %}
<table class="table">
<thead>
    <tr>
        <th>Run</th>
        <th>Nombre</th>
        <th>1Nacimiento</th>
        <th>Estado Civil</th>
        <th>Genero</th>
        <th>Telefono</th>
        <th>Direccion</th>
        <th>Comentario</th>
        <th>Estado</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
</thead>
<tbody>
{% for p in personas %}
    <tr>
        <td>
            {{p.run}}
        </td>
        <td>
            {{p.nombre}}
        </td>
        <td>
            {{p.fecha_nacimiento}}
        </td>
        <td>
            {{p.estado_civil}}
        </td>
        <td>
            {{p.genero}}
        </td>
        <td>
            {{p.fono}}
        </td>
        <td>
            {{p.direccion}}
        </td>
        <td>
            {{p.cometario}}
        </td>
        <td>
            {% if p.estado_civil %}
            <span class="badge bg-success">Activo</span>
            {% else %}
            <span class="badge bg-success">Inactivo</span>
            {% endif %}
        </td>
        <td>
            <a href="{% url 'personas:editar' p.run %}">📝</a>
        </td>
        <td>
            <a href="{% url 'personas:eliminar' p.run %}">🪓</a>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% else %}
<div class="alert alert-warning">No hay registros!!!!</div>
{% endif%}

{% endblock contenido %}